.fecha{
    width: 40%;
    height: 150px;
    border: 1px solid red;
}

.hora{
    width: 40%;
    height: auto;
    border: 1px solid red;
    padding: 40px;
}

.col{
    border: 1px solid red;
    height: 150px;
}
.caja{
    height: 50%;
}